= javascript_pack_tag 'college_search'

%input#college_name{type: 'text', placeholder: "Enter College Name"}
%input#submit_college_name{type: 'button', value: 'Find Colleges'}
%div#loading_spinner.spinner-border.spinner-border-sm

%div#map.mt-3